  *.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml
*.log


.classpath
.project
.settings/

*.iml
*.ipr
*.iws
*.idea

.vscode


# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
